:root {
   --color-white: #f1faee;
   --color-gray: #e5e5e5;
   --color-red: #e63946;
   --color-green: #b9e769;
   --color-primary: #353535;
   --border-color: #202020;
   --color-black: #000;
   --animation-function: cubic-bezier(.83, .95, .52, .04);
}
